<p *ngIf = "!(auth.getUser() | async)">You Are Not Logged In</p>
<bookform 
[hidden] = "!editCreate"
[type] = "'Add Book'"
(update) = "create($event);editCreate = !editCreate"
(closeEdit) = "editCreate = !editCreate">
</bookform>
<mat-accordion *ngIf = "(auth.getUser() | async)">
  <button mat-mini-fab color="primary" class="add" (click) = "editCreate = !editCreate">
    <mat-icon class="add_pic">add</mat-icon>
  </button>
    <mat-expansion-panel *ngFor = "let book of books;let i = index"
                         (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{book.author}}
        </mat-panel-description>
        <mat-icon class="delete" color="warn" (click) = "deleteBook(book.id)">delete</mat-icon>
      </mat-expansion-panel-header>
      <p>{{book.summary}}</p>
      <button mat-raised-button color="primary" (click) = "editstate[i] = !editstate[i]">
        Edit
      </button>
      <bookform
      [hidden] = "!editstate[i]"
      [title] = "book.title"
      [author] = "book.author"
      [id] = "book.id"
      [type] = "'Update Book'"
      (update) = "update($event);editstate[i] = !editstate[i]"
      (closeEdit) = "editstate[i] = !editstate[i]"
      >
      </bookform>
    </mat-expansion-panel>
    <button class="nextpage" mat-mini-fab color="primary" (click) = "previousPage()">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button class="nextpage" mat-mini-fab color="primary" (click) = "nextPage()">
      <mat-icon class="next">skip_next</mat-icon>
    </button>
  </mat-accordion>

  