.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  mat-panel-description {
      text-align: left;
      width: 400px;
  }

  mat-panel-title {
      width: 400px;
  }

  .add{
      margin-left: 5px;
      margin-bottom: 5px;
      margin-top: 2px;
  }
  .next{
    margin-right: 1px;
  }
  .add_pic{
    margin-right: 1px;
  }
  

  .delete{
     margin-right: 10px;
}

    .nextpage{
        margin-top: 5px;
        margin-left: 5px;

    }



