<mat-card>
  <h1>{{type}}</h1>
  <form #bookForm = "ngForm">
    <div>
      <p>
          <mat-form-field appearance="standard">
            <mat-label>Title</mat-label>
            <input matInput type = "text" 
              [(ngModel)] = "title"
              name = "title"
              required>
          </mat-form-field>
      </p> 
      <p>
          <mat-form-field appearance="standard">
            <mat-label>Author</mat-label>
            <input matInput type = "text"
              [(ngModel)] = "author" 
              name = "author"
              required>
          </mat-form-field>
      </p>                                       
      <div>
          <button mat-raised-button color="primary" (click) = "updateParent()">
            <mat-icon class="edit">edit</mat-icon>
          </button>
          <button mat-raised-button (click) = "tellParentToClose()">
            Cancel
          </button>
      </div>
    </div>
  </form>
</mat-card>