
<mat-error  *ngIf = "!(channels.includes(favoriteChannel)); else elseBlock">ERROR: Please select correct channel</mat-error>
<ng-template #elseBlock>
    <label id="example-radio-group-label">Pick your favorite channel</label>
    <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="favoriteChannel">
    <mat-radio-button class="example-radio-button" *ngFor="let channel of channels" [value]="channel">
    {{channel}}
    </mat-radio-button>
    </mat-radio-group>
    <div>Your favorite channel is: {{favoriteChannel}}</div> 
</ng-template>
<mat-form-field style="width:400px">
    <mat-label>Text to classify</mat-label>
    <textarea matInput
              [(ngModel)] = "text"
              name = "text"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="10"
              cdkAutosizeMaxRows="20"></textarea>
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" (click) = "classify()">
        classify
      </button>
  </div>
  <div>
      {{category}} <img [src] = "categoryImage">
  </div>



