<p *ngIf = "!(weatherData$ | async)&&!hasError">Loading Data....</p>
<mat-card class="example-card">
    <mat-card-header *ngIf = "!hasError">
      <img mat-card-avatar src={{image}} alt="Photo of a weather">
      <mat-card-title>The Temperature in {{city}} {{country}} is : <br> 
      {{temperature | number:'1.0-0'}}°C </mat-card-title>
      <mat-card-subtitle>{{description}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf = "!hasError">
      <p>
        {{city}} Geographic Coordinate is : <br>
        Latitude: {{lat}}° <br>
        Longitude: {{lon}}°
      </p>
    </mat-card-content>
    <mat-card-actions *ngIf = "!hasError">
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-card-title *ngIf = "hasError">{{errorMessage}}</mat-card-title>
    <a routerLink="/city" routerLinkActive="active">Select City</a>
  </mat-card>
