<mat-card>
    <h1>Register Form</h1>

    <form #registerForm = "ngForm" (ngSubmit) = "onSubmit()">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="text" placeholder= "example:you@you.com"
          [(ngModel)] = "email"
          name = "email"
          required>
          <button mat-button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"
          [(ngModel)] = "password"
          name = "password"
          required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-error *ngIf = "isError">
          {{errorMessage}}
        </mat-error>
      </div>
      <div>
        <button [disabled] = "!registerForm.form.valid" type="submit" mat-raised-button color="primary">Register</button>
      </div>
    </form>
  </mat-card>
  
  